*{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 90vh;
    width: 100%;
    position: relative;
    
}
.image{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform: translateX(100%)
}
.image.show{
    transform: translateX(0);
}


.image-container{
    width: 100%;
    height: 100%;

}


#content-box{
    color: white;
    position: absolute;
    top: 10vh;
    left: 8vw;
    z-index: 999; 
}
#content-box h2{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}
#content-box div{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: .5rem;
    margin-top: 8px !important;
}
#content-box h3{
    font-weight: 400 !important;
    margin-top: 0 !important;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}
#content-box button{
    margin: 12px 0;
    text-wrap: nowrap;
    background-color: #fff;
    border-color: #fff;
    color: #0e0e0e;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .6875rem 1.1875rem;
    border: 1px solid transparent;
    cursor: pointer;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 80%;
    margin: auto;
}
.p-container{
    width: 100%;
    height: 80vh;
    display: flex;  
    justify-content: center;
    background-color: #0a0e14;
    padding: 30px 30px;
}
.products{
    background-color: #839db4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products :hover{
    opacity: 0.5;
}
.products span{
 
    padding: 0 10px 10px 10px;
    position: relative;
    color: white;
    font-weight: 500;
    background-color: #0a0e14;
   
}
.product-container img{
    width: 100%;
}

@media screen and (max-width:750px) {
    .main-container{
        margin-top: 10px;
        
    }
}